@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  background-image: url(http://2.bp.blogspot.com/-zSeF-Mu_ZkQ/T5Y4V6ByNnI/AAAAAAACDHc/2I2QiUR-nfg/s1600/Chess%2BKnights.jpg);
  background-size: cover;
  
}
.slogan {
  font-size: 48px;
  color: white;
  text-shadow: 0 0 10px black;
  margin-left: 340px;
  margin-top: 0px;
  font-family: 'Pacifico', cursive;
}
input{
       font-size: 30px;
       color: white;
       position: absolute;
       right:10px;
       bottom:10px;
}
p{
  color:yellow;
  text-shadow:0 0 10px blue;
  font-family: 'Oswald', sans-serif;
  font-size:35px;
}
h2{
   color: black;
   text-shadow:0 0 20px white;
   font-family: 'Oswald';
   font-size: 40px;
}
h3{
   color:orange;
   text-shadow:0 0 20px blue;
   font-size:30px;
}