#navbar {
	position: fixed;
	top:10px;
	left:50%;
	margin-left:-254px;
}
#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 100px;
	background-color: #668284;
	margin-bottom: 10px;
}
body{background-color:#bfbfbf}

ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

li {
	display: inline;
	border: 2px solid #827575;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #000000
}
h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #000000;	
}
img {
	height: 280px;
	width: 500px;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;	
	padding-top: 50px;
}
p{
	color:#000000;
	font-family: Verdana;
	font-size: 17px;
}
h3{
	padding-top: 100px;
	font-size: 25px;
}
h6{
	padding-top: 15px;
	font-size: 30px;
	color:#333399;
}
h1{
	padding-top: 70px;
	color:#3f5973;
}
h4{
	font-size: 25px;
}
h5{
	font-size: 25px;
}

